* {
  box-sizing: border-box;
}

#name {
	background-color: #4aaaa5;
	color: white;
	padding: 18px;
	text-align: center;
	width: 220px;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
    display: inline-block;
    margin-left: 175px;
}

.navbar {
	list-style: none;
	float: right;
	position: static;
	margin-right: 20%;
}

.navbar li {
	display: inline;
	margin-left: 15px;
}

.about {
	padding-right: 10px;
	border-right: 1px solid #bbb;
}

.jordanpic {
	float: left;
    width: 200px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

a {
	color: #777777;
	text-decoration: none;
}

.portfolio {
	padding-right: 10px;
	border-right: 1px solid #bbb;
}

body { 
	background-image: url("../images/background-concrete.png");
	width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#content {
 	width: 960px;
    margin: 0 auto 0;
    margin-top: 20px;
    margin-left: 35px;
    padding: 20px;
    text-overflow: visible;
}

#main {

	width: 650px;
	line-height: 35px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
 	padding: 20px;
 	float:left;
 	margin-left: 120px;
 	margin-bottom: 145px;
}

h1 {
    padding-bottom:15px;
    margin-left: 10px;
   	color: #4aaaa5;
   	border-bottom: 2px solid #cccccc;
   	font-family:'Georgia', Times, Times New Roman, serif;
}

h3 {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
	padding-right: 60px;
	font-family:'Georgia', Times, Times New Roman, serif;
	margin-left: 20px;
    margin-right: 20px;
}

li {
	line-height: 35px;
	padding-right: 10px;
    padding-left: 10px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

.github {
	width: 75px;
	padding-bottom: 15px;
}

.linkedin {
	width: 75px;
	padding-bottom: 15px;
}

.stackoverflow {
	width: 75px;
    height: 86px;
	padding-bottom: 18px;

}

#connect {
	clear:both;
	color: #4aaaa5;
	float: right;
	width: 270px;
	border: 1px solid #dddddd;
	text-align: center;
	background-color: #ffffff;
	margin-left: 800px;
	position: fixed;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-right: 10px;
    padding-left: 10px;
}

header {
	background-color: white;
	border-bottom: 2px solid #dddddd;
	margin: 0;
}

footer {
	background-color: #666666;
	width: 100%;
	text-align: center;
	border-top:5px solid #4aaaa5;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
  	margin: 0;
  	padding: 25px;
}

.copyright {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.
}

#nombre { 
	width: 100%;
	padding:5px;

}

#email {
	width: 100%;
	padding:5px;
}

#message {
	padding:5px;
	margin-bottom: 80%;
}

#form {
	color: #777777;
	margin:10px;
	border-color: red;

}

.comments {
	width: 100%;
	position: static;
	/*overflow: relative;*/

}


#submit {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-size: 16px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


#projects {

	
}


.hangman {
	width: 200px;
	height:200px;
	

}


.zelda {
	width: 200px;
	height:200px;
	

}



.trivia {
	width: 200px;
	height:200px;

}


.widget {

	width: 200px;
	height:200px;

}


.rock-paper-scissors {
	width: 200px;
	height:200px;

}

tr {
	float: left;
	margin: 40px;

}
